<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Basic&display=swap" rel="stylesheet">

    <script type="module" src="{{url_for('static', filename= 'js/Cah.js')}}"></script>
    <script type="module" src="{{url_for('static', filename= 'js/index.js')}}"></script>
    <title>Dashboard</title>
</head>
<body class="dash">

    <!--Header and Logout link-->
    <div class="navbar flex">
        <h1>Welcome horrible people! Welcome our newest addition, {{user.character_name}}</h1>
        <a href="/logout" class="rainbow rainbow-5">End Game<a/>
    </div>

    <!--Card Game in Browser-->
    <div>
        <div id="show"></div>
        <ul id="cards">
        </ul>
        <div class="flex">
            <div class="cards">
                <div id='black' class="rainbow_black rainbow-5">
                    <h3>Cards Against Humanity</h3>
                </div>
                <!-- pop-up the text within the card  -->
                <div id='white' class="rainbow_white rainbow-5">
                    <h3>Cards Against Humanity</h3>
                </div>
            </div>
            <div id="master">
                <h1>black card</h1>
            </div>
        </div>
    </div>
    <!--Links index.js-->
</body>
</html>