<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner Cards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12"> 
        <h1>Winner's Club</h1> 
        <h5>View the creative talents of our players </h5>
        <h4 class="text-center">Welcome {{user.character_name}} to the hall of winners !!!</h4>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary" > Dashboard </a>
            <a href="/logout" class="btn btn-info">Logout</a> 
        </div>
    </nav>
    <div class="col-8 mx-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Winner Character Name </th>
                    <th> Card Name </th>
                    <th>Card Statement</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %} 
                    <tr>
                        <td>{{card.creator.fullname}}</td> 
                        <td>{{card.card_name}}</td> 
                        <td>{{card.card_statement}}</td> 
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</body>
</html>