/*Cards @dashboard.html*/

* {
  font-family: 'Basic', sans-serif;
}

.flex{
  display: flex;
  justify-content: center;
}

.dash {
  font-family: 'Basic', sans-serif;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  padding: 0px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.dash h1 {
  text-align: center;
  margin-right: 200px;
}

.navbar {
  align-items: center;
}

.cards {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#next_game {
  border-radius: 20px;
  height: 50px;
  width: 150px;
  font-size: 16px;
}

/*Black card*/
.black { 
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  height: 250px;
  margin: 10px;
}

/*White card*/
.white { 
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  height: 250px;
  margin: 10px;
}

/* Card pop-up */
#pop {
  display: none;
  position: absolute;
  background-color: #F68B1D;
  height: 300px;
  width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display_it {
  background-color: #0c0c0c;
  color: white;
  width: 80%;
  height: 70vh;
}

#display_card {
  width: 150px;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 10px;
  border: 2px solid #f3f5f5;
  background-color: #f6f8f8;
  border-radius: 20px;
  color: rgb(3, 3, 3);
  transition: .3s;
  text-align: left;
  height: 200px;
}

#cardbox {
  display: flex;
  justify-content: center;
  height: 300px;
}

#master {
  margin: 0px;
}

.notify {
  background-color: #e73c7e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 30px;
  border-radius: 400px;
  height: 600px;
  width: 600px;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  border-radius: 250px;
  margin-top: 50px;
}

/* The hand */
.hand {
  position: absolute;
  margin: 0% 5% 0% 20%;
  bottom: 2px;
  height: 300px;
}

.hand_card {
  width: 150px;
  margin-left: 10px;
  border: 2px solid #f3f5f5;
  background-color: #f6f8f8;
  border-radius: 20px;
  color: rgb(3, 3, 3);
  transition: .3s;
  text-align: left;
}

.hand_card:hover {
  box-shadow: 8px -8px #960b96;
  transition: .3s;
}

.hand_card h3{
  margin-bottom: 35px;
}

/* rainbow button */
.rainbow{
  background-color: #0c0c0c;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  margin: 10px;
}

.rainbow_black{
  background-color: #0c0c0c;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  height: 250px;
  border-radius: 20px;
  margin: 10px;
}

.rainbow_white{
  background-color: #f2f4f7;
  border-radius: 4px;  
  color: rgb(19, 18, 18);
  cursor: pointer;
  padding: 8px 16px;
  height: 250px;
  border-radius: 20px;
  margin: 10px;
}

.rainbow-5:hover{
  background-image:     linear-gradient(
    to right, 
    #E7484F,
    #E7484F 16.65%,
    #F68B1D 16.65%,
    #F68B1D 33.3%,
    #FCED00 33.3%,
    #FCED00 49.95%,
    #009E4F 49.95%,
    #009E4F 66.6%,
    #00AAC3 66.6%,
    #00AAC3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #E7484F 100%
  );
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:40vw;
  }
}

/* Black button */
.button-b {
  border: 2px solid #0d0e0e;
  background-color: #0d0e0e;
  border-radius: 20px;
  color: rgb(252, 252, 252);
  transition: .3s;
  padding: 8px 16px;
  height: 250px;
  margin: 10px;
}

.button-b:hover {
  box-shadow: -8px 8px #ffffff;
  transition: .3s;
}

/* White button */
.button-w {
  border: 2px solid #f3f5f5;
  background-color: #f6f8f8;
  border-radius: 20px;
  color: rgb(3, 3, 3);
  transition: .3s;
  padding: 8px 16px;
  height: 250px;
  margin: 10px;
}

.button-w:hover {
  box-shadow: -8px 8px #181718;
  transition: .3s;
}